{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Réserver
{% endblock %}

{% block body %}
	<div class="bg-light py-5">
		<section class="container container-login">
			<div class="row">
				<div class="col action-form text-center">
					<h1 class="text-center">Réservation</h1>
					{{ form_start(form) }}
					{{ form_row(form.reservation_name) }}
					{{ form_row(form.reservation_phone) }}
					{{ form_row(form.guests_number) }}
					{{ form_row(form.allergies) }}
					{{ form_row(form.date_time, {
						'attr': {
							'data-target': '#reservation_form_date_time',
							'data-toggle': 'datetimepicker',
						}
					}) }}
					<button type="submit" class="btn">Réserver</button>
					{{ form_end(form) }}
				</div>
			</div>
		</section>
	</div>
{% endblock %}
