{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Notre Carte
{% endblock %}

{% block body %}
	<div class="top pt-50 text-center" id="menu-top">
		<h1>Notre carte</h1>
		<p class="m-3">Goûtez à la Savoie !</p>
		<i class="fa-solid fa-utensils"></i>
	</div>
	<section class="container justify-content-center" id="dishes-list">
		<div class="row text-center">
			{% for dishesCategory in dishesCategories %}
				<h2>{{dishesCategory.title}}</h2>
				<span class="separator"></span>
				{% for dish in dishes %}
					{% if dish.parent_category.title == dishesCategory.title %}
						<div class="row dish">
							<div class="col-9 text-start">
								<span class="dish-title">{{dish.title}}</span>
								<p class="dish-desc">{{dish.description}}</p>
							</div>
							<div class="col-3">
								<span class="dish-price">{{dish.price}}</span>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	</section>
	<section class="dining-options my-5 py-5">
		<h3>Nos menus</h3>
		<div class="row container">
			{% for menu in menus %}
				<div class="col-lg-4 option p-2 m-2 d-grid">
					<span class="option-title">{{menu.title}}</span>
					<p class="option-desc">{{menu.description}}</p>
					{% for formula in formulas %}
						{% if formula.menu.title == menu.title %}
							<span class="option-content">{{formula.title}}</span>
							<span class="option-price">{{formula.price}}</span>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
